@model IEnumerable<LearningSystem.Models.ViewModels.Course.CourseIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{

    var itemsPerPage = Request["ItemsPerPage"];
    var search = Request["Search"];
    var searchInName = Request["SearchInName"];
    var searchInDescription = Request["SearchInDescription"];
}
@Html.Action("_SearchPartial", "Courses", new
{
    ItemsPerPage = itemsPerPage,
    SearchInDescription = searchInDescription,
    Search = search,
    SearchInName = searchInName
})

<div id="coursesList">
    @Html.Action("_CoursesListPartial", new
{
    ItemsPerPage = itemsPerPage,
    SearchInDescription = searchInDescription,
    Search = search,
    SearchInName = searchInName
})
</div>

@Html.Action("_PaginationPartial", new
{
    ItemsPerPage = itemsPerPage,
    SearchInDescription = searchInDescription,
    Search = search,
    SearchInName = searchInName
})
