@model IEnumerable<LearningSystem.Models.ViewModels.Course.CourseIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{
    var filter = new
    {
        ItemsPerPage = Request["ItemsPerPage"],
        SearchInDescription = Request["SearchInDescription"],
        Search = Request["Search"],
        SearchInName = Request["SearchInName"]
    };
}
@Html.Action("_SearchPartial", "Courses", filter)

<div id="coursesList">
    @Html.Action("_CoursesListPartial", filter)
</div>

@Html.Action("_PaginationPartial", filter)
