@model IEnumerable<LearningSystem.Models.ViewModels.User.UserIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{
        var filter = new
        {
            ItemsPerPage = Request["ItemsPerPage"],
            SearchInUsername = Request["SearchInUsername"],
            SearchInEmail = Request["SearchInEmail"],
            Search = Request["Search"],
            SearchInName = Request["SearchInName"]
    };
}
@Html.Action("_SearchPartial", "Users", filter)

<div id="usersList">
    @Html.Action("_UsersListPartial", filter)
</div>

@Html.Action("_PaginationPartial", "Users", filter)
